html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	color: #212529;
}
.clearfix:after,
.price:after {
	content: "";
	display: block;
	clear: both;
}

a {
	color: #104455;
}
a:hover {
	color: #46c1be;
}

h1, h2, h3 {
	margin: 0;
	font-weight: bold;
	text-align: center;
}
h2 {
	padding-bottom: 12px;
	font-size: 2em;
}
h3 {
	padding: 12px 0;
	font-size: 1.5em;
	font-weight: normal;
}
p {
	margin: 0;
	padding: 12px 0;
}

.text-center {
	text-align: center;
}


.button-buy {
	position: relative;
	text-align: center;
}
.button-buy span.submit-info {
	position: absolute;
	z-index: 5;
	display: none;
	left: 50%;
	top: 0;
	padding: 8px 0;
	width: 240px;
	background: #fff3;
	border: 1px solid #46c1be;
	transform: translate(-50%, 0);
	opacity: 0.7;
}
.button-buy *:disabled ~ span.submit-info {
	display: block;
}
.button-buy a,
.button-buy input[type="submit"] {
	display: inline-block;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
	background: #46c1be;
	border: none;
	font-size: 1.2rem;
	border-radius: 6px;
	transition: background 200ms;
	cursor: pointer;
}
.button-buy a:hover,
.button-buy input[type="submit"]:hover {
	background: #104455;
}
.button-buy input[type="submit"]:disabled,
.button-buy input[type="submit"]:disabled:hover {
	cursor: not-allowed;
	opacity: 0.5;
}

.price {
	margin: 0 auto 12px;
	width: 380px;
	text-align: center;
	color: #fff;
}
.price > * {
	float: left;
	padding: 10px 0;
	width: 50%;
}
.price span {
	display: block;
	font-size: 1.8em;
	font-weight: bold;
}
.price .old-price {
	background: #104455;
}
.price .new-price {
	background: #46c1be;
}
.price .old-price span {
	text-decoration: line-through;
}
.left-count {
	text-align: center;
}
.left-count span {
	display: inline-block;
	margin: 0 2px;
	padding: 1px 8px;
	font-weight: bold;
	color: #fff;
	background: #46c1be;
}
.product-info {
	margin: 0 auto;
	padding: 20px 0;
	list-style: none;
	max-width: 480px;
	text-align: right;
}
.product-info li {
	padding: 10px 20px;
}
.product-info li:not(:last-child) {
	border-bottom: 1px solid #46c1be;
}
.product-info strong {
	float: left;
}
.image-centered {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.product-buy {
	text-align: center;
}
.product-buy .old-price {
	text-decoration: line-through;
}
.product-buy .new-price {
	margin-left: 12px;
	font-size: 1.2em;
}
.product-buy .new-price strong {
	font-size: 1.2em;
}
.product-buy .discount-label {
	position: relative;
	display: inline-block;
	padding: 4px 6px;
	color: #fff;
	font-size: 0.9em;
	line-height: 1em;
	background: #46c1be;
	border-radius: 50%;
	transform: translate(-15px, -20px) rotate(12deg);
}


.section-main {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
	background: url(../img/bg1.jpg) no-repeat center top;
	background-size: cover;
	background-attachment: fixed;
}
.section-main:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
}
.section-main .center-content {
	position: relative;
	z-index: 5;
	padding: 20px 0;
	background: rgba(0, 0, 0, 0.5);
}
.section-main h1 {
	font-size: 3em;
	line-height: 1.5em;
}
.section-main h1 strong {
	display: block;
	text-transform: uppercase;
	letter-spacing: 4px;
}
.section-main .about-product {
	margin: 0 auto;
	width: 380px;
}
.section-main .discount {
	position: absolute;
	left: 50%;
	bottom: 280px;
	padding: 16px 20px;
	transform: translate(-290px, 0) rotate(-12deg);
	background: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
}
.section-main .discount span {
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	color: #46c1be;
}
.section-main ul {
	margin: 0 auto;
	padding: 20px 0;
	list-style: none;
	width: 380px;
	font-size: 1.2em;
	line-height: 1.6em;
}
.section-main .button-buy a {
	background: rgba(255, 255, 255, 0.2);
}
.section-main .button-buy a:hover {
	background: rgba(255, 255, 255, 0.1);
}


.section-about,
.section-howorder,
.order-form {
	margin: 0 auto;
	padding: 50px 0;
	max-width: 480px;
}
.section-howorder .order-result {
	position: relative;
}
.section-howorder .discount {
	position: absolute;
	left: 0;
	top: 100px;
	padding: 16px 20px;
	color: #fff;
	text-align: center;
	transform: rotate(-12deg);
	background: #46c1be;
	border-radius: 50%;
}
.section-howorder .discount span {
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	color: #104455;
}
.section-howorder ul {
	padding: 20px 0;
	list-style: none;
}
.section-howorder li {
	position: relative;
	padding: 20px 0;
	min-height: 110px;
}
.section-howorder li:nth-child(odd) {
	padding-right: 160px;
}
.section-howorder li:nth-child(even) {
	padding-left: 160px;
	text-align: right;
}
.section-howorder li img {
	position: absolute;
	top: 34px;
	opacity: 0.9;
}
.section-howorder li:nth-child(odd) img {
	right: 0;
}
.section-howorder li:nth-child(even) img {
	left: 0;
}
.section-howorder li strong {
	display: block;
	font-size: 1.7em;
	line-height: 1.5em;
	color: #46c1be;
}
.section-howorder li small {
	display: block;
}
.section-timer,
.section-timer-off {
	position: relative;
	padding: 40px 0;
	color: #fff;
	text-align: center;
	background: url(../img/bg1.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}
.section-timer:before,
.section-timer-off:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}
.section-timer > *,
.section-timer-off > * {
	position: relative;
	z-index: 5;
}
.section-timer .timer-values {
	font-size: 2.2em;
	font-weight: bold;
}
.section-timer .timer-values span {
	display: inline-block;
	margin: 0;
	padding: 1px 8px 3px;
	background: #46c1be;
}
.section-timer .timer-values span:nth-child(2),
.section-timer .timer-values span:nth-child(4) {
	margin-right: 24px;
}
.section-timer .timer-legend {
	padding-top: 0;
}
.section-timer .timer-legend span {
	display: inline-block;
	width: 81px;
}
.section-timer .timer-legend span:nth-child(2) {
	margin: 0 30px;
}


.order-form .halve {
	display: flex;
	justify-content: space-around;
	text-align: center;
}
.order-form .halve > span {
	flex: none;
	width: 50%;
}
.order-form .product-size input {
	display: none;
}
.order-form .product-size label {
	position: relative;
	display: inline-block;
	margin: 0 2px;
	padding-top: 8px;
	width: 48px;
	height: 48px;
	font-size: 1.3em;
	box-sizing: border-box;
	border: 1px solid;
	border-radius: 50%;
	cursor: pointer;
	transition: all 200ms;
}
.order-form .product-size label.fml {
	color: #46c1be;
	border-color: #46c1be;
}
.order-form .product-size label.ml {
	color: #104455;
	border-color: #104455;
}
.order-form .product-size input:checked + label.fml,
.order-form .product-size label.fml:hover {
	color: #fff;
	background: #46c1be;
}
.order-form .product-size input:checked + label.ml,
.order-form .product-size label.ml:hover {
	color: #fff;
	background: #104455;
}
.order-form .product-size input:checked + label:before,
.order-form .product-size label:hover:before {
	content: "";
	position: absolute;
	left: 1px;
	top: 1px;
	right: 1px;
	bottom: 1px;
	border: 1px solid #fff;
	border-radius: 50%;
}
.order-form input[type="text"] {
	display: block;
	padding: 10px 20px 10px 48px;
	width: 100%;
	box-sizing: border-box;
	font-size: 1.2em;
	color: #104455;
	background: #fff no-repeat 12px 10px;
	border: 1px solid #46c1be;
	border-radius: 6px;
}
.order-form input[type="text"]:focus {
	background-color: #46c1be22;
}
.order-form input[name="name"] {
	background-image: url(../img/icon-name.png);
}
.order-form input[name="phone"] {
	background-image: url(../img/icon-phone.png);
}
.order-form input[name="place"] {
	background-image: url(../img/icon-place.png);
}
.order-form input[name="postoffice"] {
	background-image: url(../img/icon-postoffice.png);
}
.order-form .callback input {
	display: none;
}
.order-form .callback label {
	position: relative;
	display: block;
	padding: 12px 0 12px 48px;
	cursor: pointer;
}
.order-form .callback label:before,
.order-form .callback label:after {
	content: "";
	position: absolute;
	left: 10px;
	top: 9px;
	box-sizing: border-box;
	border-radius: 50%;
}
.order-form .callback label:before {
	width: 26px;
	height: 26px;
	border: 1px solid #46c1be;
}
.order-form .callback label:after {
	width: 14px;
	height: 14px;
	background: #46c1be;
	transform: translate(6px, 6px);
	opacity: 0;
	transition: opacity 200ms;
}
.order-form .callback input:checked + label:after {
	opacity: 1;
}

footer {
	padding: 12px 0 16px;
	text-align: center;
	font-size: 0.8em;
	border-top: 1px solid #10445522;
}
footer p {
	padding: 4px 0;
}

@media screen and (max-width: 840px) {
	.section-main h1 {
		font-size: 2em;
	}
}

@media screen and (max-width: 640px) {
	.section-main .discount {
		position: static;
		transform: none;
		margin: 0 auto;
		padding: 8px 20px;
		width: 120px;
		font-size: 0.8em;
	}
	.section-main ul {
		padding-top: 8px;
	}
	.section-about,
	.section-howorder,
	.order-form {
		padding-left: 20px;
		padding-right: 20px;
	}
	.order-form .halve {
		flex-wrap: wrap;
	}
	.order-form .halve > span {
		width: 100%;
	}
	.order-form .halve > span:last-child {
		padding-top: 30px;
	}
}
@media screen and (max-width: 420px) {
	.section-main ul {
		width: 100%;
	}
	.price {
		width: auto;
	}
	.section-howorder li:nth-child(even) {
		padding-left: 110px;
	}
	.section-howorder li:nth-child(odd) {
		padding-right: 110px;
	}
	.section-howorder li img {
		width: 100px;
	}
	.section-timer .timer-values {
		letter-spacing: -2px;
	}
	.section-timer .timer-values span:nth-child(2),
	.section-timer .timer-values span:nth-child(4) {
		margin-right: 10px;
	}
	.section-timer .timer-legend span:nth-child(2) {
		margin: 0;
	}
	.product-buy .discount-label {
		display: block;
		margin: 12px auto 0;
		transform: none;
		width: 32px;
	}
}
